@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gellix';
    src: url('/fonts/Gellix-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gellix';
    src: url('/fonts/Gellix-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}
