---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href} class="bg-accent-500 px-5 py-3 rounded-full text-white font-bold hover:bg-accent-400 transition-colors">
  <slot />
</a>
