<section class="container mx-auto pb-16 grid grid-cols-1 md:grid-cols-4 gap-8">
  <div class="">
    <p class="text-5xl font-bold">7</p>
    <p class="text-lg mt-4 leading-tight">zemí, kam dodávame produkty</p>
  </div>
  <div class="">
    <p class="text-5xl font-bold">20</p>
    <p class="text-lg mt-4 leading-tight">rokov na trhu</p>
  </div>
  <div class="">
    <p class="text-5xl font-bold">10</p>
    <p class="text-lg mt-4 leading-tight">rokov záruka na každý produkt</p>
  </div>
  <div class="">
    <p class="text-5xl font-bold">22 500</p>
    <p class="text-lg mt-4 leading-tight">spokojných zákazníkov</p>
  </div>
</section>
